@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(8, 9, 15);
  --foreground: #ffffff;
  --primary: #0ab291;
  --secondary: #ffab07;
  --primary-light: rgba(132, 216, 200, 1);
  --secondary-light: rgba(255, 213, 131, 1);
  --button-gradient: linear-gradient(
    to bottom,
    hsla(206, 10%, 34%, 1),
    hsla(203, 58%, 85%, 1)
  );
  --border-angle: 0deg;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out,
    transform 0.5s ease-in-out, filter 0.1s ease-in-out;
}
@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(20px);
}

.wrapper {
  --width: 1440px;
  --padding: 40px;
  width: min(var(--width), 100% - var(--padding));
  margin: 60px auto;
}

.background-gradient {
  background: linear-gradient(180deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
}

.text-animate {
  clip-path: fill-box;
  animation: text-animate 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-range: 0 100%;
}
@keyframes text-animate {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* embla carousel */
.embla {
  max-width: 70rem;
  margin: auto;
  --slide-height: 25rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 2);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

[class*="animate-border"] {
  --border-size: 0.1rem;
  --border-angle: 0deg;
  background-image: conic-gradient(
    from var(--border-angle),
    theme(colors.slate.600/.48) 80%,
    theme(colors.indigo.500) 86%,
    theme(colors.indigo.300) 90%,
    theme(colors.indigo.500) 94%,
    theme(colors.slate.600/.48)
  );
  animation: border-rotate 8s linear infinite;
}

@keyframes border-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
}
